

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

*, html, body {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: "Roboto Condensed"
}

h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
  color: red;
  text-shadow: #020819 8px -20px 9px;
  text-align: center;
}

h3 {
    font-size: 5em;
    text-align: center;
    line-height: 4em;
    color: white;
     
}

.nav-bar{
  background-color: rgb(135, 18, 18);
  padding: 8px 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em; 
}

header{
  background-image: url("./rhcp-banner.jpeg");
  background-repeat: repeat;
  background-size: contain;
  position: relative;
}

header > h1 {
    color: white;
    font-size: 1em;
    text-align: left;
}


.text-shadow{
  text-shadow: #020819 8px -20px 9px;
}

.dark-background {
  background-color: rgb(9, 10, 10);
  color: white;  
  margin: 18px 0;
}

.text{
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin: 20px 0;
}

.link-btn{
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: "Roboto Condensed";
  font-size: 2em; 
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}

.service-box{
  font-size: 1.7em;
  text-align: center;
  padding: 0 px;
  width: 100%;
}


#team .section-text{
  font-size: 3em;
  text-align: center;
}

.footer {
  font-size: 1.9em;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address{
  font-size: 0.8em;
  font-style: normal;
  margin-bottom: 30px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: rgb(67, 163, 230);
  text-decoration: none;
}

.follow{
  margin-top: 0;
  margin-bottom: 0;
}

.nav-bar-ul{
  width: 100%;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

.container{
  width: 100%; 
  margin: 18px auto;
  padding: 0 0;
}

#team p {
  width: 100%;
  margin: 10px auto;
  font-size: 1.5em;

}


#team > div{
  display: flex;
  justify-content: space-evenly;
}

#team > div > article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text{
    font-size: 2em;
}

.ul{
    font-size: 2em;
    text-align: center;
    
}

html {
    background-color: #ededed;
    font: normal 14px / 20px 'Roboto', sans-serif;
    padding: 0 0 25px;
  }
  
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .clearfix:before,
  .clearfix:after {
      content: " ";
      display: table;
  }
  
  .clearfix:after {
      clear: both;
  }
  
  .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1);
    margin: 0 auto;
    max-width: 340px;
  }
  
  .card-media {
    width: 100%;
  }
  
  .card-details {
    padding: 5px 15px;
  }
  
  .card-head {
    font-weight: 400;
  }
  
  .card-head {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .pcard{
    color: black;
    font-size: 16px;

  }
  
  .letter{
    color:black;
  }
  


